# Machine Learning Test Project - Adult Income Classification

Data - https://archive.ics.uci.edu/dataset/2/adult

In [1]:
# Import Statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
income = pd.read_csv('adult.DATA', sep=',', header=None)

In [2]:
income

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# Drop NA Values
income.dropna(inplace=True)

In [4]:
# Rename Columns
income.rename(columns={0:'Age', 
                       1:'Work Class', 
                       2:'Weight', 
                       3:'Education Type', 
                       4:'Education Years', 
                       5:'Marital Status', 
                       6:'Occupation', 
                       7:'Familial Relationship', 
                       8:'Race', 
                       9:'Sex', 
                       10:'Capital Gain', 
                       11:'Capital Loss', 
                       12:'Hours Per Week', 
                       13:'Native Country', 
                       14:'Income'}, inplace=True)

In [5]:
# Drop Capital Gain and Capital Loss due to mostly 0 values
income.drop(['Capital Gain', 'Capital Loss'], axis=1, inplace=True)

In [6]:
# Rename Income Column
income['Income'] = income['Income'].replace({' <=50K': 0, ' >50K': 1})

In [7]:
income

,Age,Work Class,Weight,Education Type,Education Years,Marital Status,Occupation,Familial Relationship,Race,Sex,Hours Per Week,Native Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,1

In [8]:
# Train, Tet, Validation Split (80-10-10)
train_income, remaining_df = train_test_split(income, test_size=0.2) 
test_income, val_income = train_test_split(remaining_df, test_size=0.5)

In [9]:
train_income

,Age,Work Class,Weight,Education Type,Education Years,Marital Status,Occupation,Familial Relationship,Race,Sex,Hours Per Week,Native Country,Income
31069,26,Private,226196,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,40,United-States,0
3318,26,Private,159732,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,0
21831,34,Private,156464,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,85,England,1
14427,41,State-gov,365986,HS-grad,9,Divorced,Protective-serv,Not-in-family,White,Male,40,United-States,1
27221,48,Self-emp-not-inc,107231,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32352,28,Private,119793,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,Portugal,0
30929,23,Private,189468,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Own-child,White,Female,30,United-States,0
16932,21,Private,195919,10th,6,Never-married,Handlers-cleaners,Not-in-family,Other,Male,40,Dominican-Republic,0
2066,46,Private,29696,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,1
5204,30,Self-emp-not-inc,33308,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,40,United-States,0

In [10]:
# Save CSVs
test_income.to_csv('cleaned_test_income.csv', index=False)
train_income.to_csv('cleaned_train_income.csv', index=False)
val_income.to_csv('cleaned_validation_income.csv', index=False)

In [11]:
#This was code I was testing originally. Can be ignored

'''test_income.replace('?', np.nan, inplace=True)
test_income = test_income.dropna()
train_income.replace('?', np.nan, inplace=True)
train_income = train_income.dropna()
val_income.replace('?', np.nan, inplace=True)
val_income = val_income.dropna()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_income['Race'] = le.fit_transform(train_income['Race'])
test_income['Race'] = le.fit_transform(test_income['Race'])
val_income['Race'] = le.fit_transform(val_income['Race'])
train_income['Sex'] = le.fit_transform(train_income['Sex'])
test_income['Sex'] = le.fit_transform(test_income['Sex'])
val_income['Sex'] = le.fit_transform(val_income['Sex'])'''

"test_income.replace('?', np.nan, inplace=True)\ntest_income = test_income.dropna()\ntrain_income.replace('?', np.nan, inplace=True)\ntrain_income = train_income.dropna()\nval_income.replace('?', np.nan, inplace=True)\nval_income = val_income.dropna()\nfrom sklearn.preprocessing import LabelEncoder\nle = LabelEncoder()\ntrain_income['Race'] = le.fit_transform(train_income['Race'])\ntest_income['Race'] = le.fit_transform(test_income['Race'])\nval_income['Race'] = le.fit_transform(val_income['Race'])\ntrain_income['Sex'] = le.fit_transform(train_income['Sex'])\ntest_income['Sex'] = le.fit_transform(test_income['Sex'])\nval_income['Sex'] = le.fit_transform(val_income['Sex'])"